<%= form_for @journal_entry, :method => 'delete' do |f| %>
  <table>
    <tr>
      <td><p>Are you sure you want to permanently delete this entry?</p></td>
    </tr>
    <tr>
      <td><p><%= f.label(:current_password, "Confirm current password") %><p></td>
    </tr>
    <tr>
      <td><%= f.password_field(:current_password) %></td>
    </tr>
    <tr>
      <td><p><%= f.submit("Delete Entry") %></p></td>
    </tr>
  </table>
<% end %>
