<table>
  <tr>
    <th>Username</th>
    <td><%= @journal_entry.user_identification_username %></td>
  </tr>
  <tr>
    <th>Published</th>
    <td><%= @journal_entry.entry_created_at %></td>
  </tr>
  <tr>
    <th>Entry</th>
    <td><%= @journal_entry.entry %></td>
  </tr>
</table>
