<table class="Sign_Table Center_Content">
  <tr>
    <td class="Lavender Center_Text"><%= link_to('Sign In', sign_in_path, class: "Sign_Anchor No_Underline") %></td>
  </tr>
  <tr>
    <td class="Lavender Center_Text"><%= link_to('Sign Up', new_user_identification_path, class: "Sign_Anchor No_Underline") %></td>
  </tr>
</table>
