
.Journal_Image
{
  float: left;
}

.Top_Title
{
  color: white;
  background-color: blue;
  align: left;
  margin-left: 0px;
  line-height: 150px;
}

.Top_Height
{
  height: 150px;
}

.Center_Content
{
  margin: auto;
}

.Sign_Table
{
  height: 100px;
  width: 200px;
}

.Center_Text
{
  text-align: center;
}

.Lavender
{
  background-color: lavender;
}

.Sign_Anchor
{
  font-size: 150%;
  display: block;
  padding: 8px;
}

.No_Underline
{
  text-decoration: none;
}

.Notice
{
  background-color: red;
  width: 100%;
}

body
{
  background-color: powderblue;
}
