<h2 class="Recents Center_Text">Recents</h2>

<table class="Recents">
  <% @recents.each do |journal_entry| %>
  <tr>
    <td><%= link_to("#{journal_entry.user_identification_username}", "/visiting/#{journal_entry.user_identification_username}") %></td>
    <td><%= journal_entry.entry %></td>
  </tr>
  <% end %>
</table>
